html, body {
    margin: 0;
    background-color: #ececec;
    color: #480a2a;
    font-family: sans-serif;
}

main {
    width: 789px;
    margin: 25px auto 0;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
}

h2 {
    text-align: center;
    margin: 0;
}

h1 {
    display: inline;
    color: white;
}

header img {
    height: 60px;
    margin: 0 20px;
}

header {
    background-color: #480a2a;
    display: flex;
    height: 75px;
    align-items: center;
}

label[for="fileInput"] {
    display: none;
}

select, button {
    height: 25px;
    border: 0;
    background-color: #480a2a;
    color: white;
    border-radius: 5px;
    font-family: sans-serif !important;
    font-weight: normal !important;
}

button.fas::before {
    font-weight: bolder;
}

button::before {
    margin-right: 5px;
    font-family: "Font Awesome 5 Free";
}

td:first-child {
    width: 150px;
}

tr:not(:last-child) {
    border-bottom: 1px #ececec dashed;
}

table {
    width: 100%;
    margin-bottom: 25px;
    border-collapse: collapse;
}

select, input[type="button"] {
    margin-bottom: 10px;
}

textarea#codeArea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 100px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    background-color: #f3f3f3;
}

.infos>span:first-child {
    margin-right: 15px;
}

.fa-trash-alt:hover {
    background-color: #ac1414;
}

.controls-right {
    text-align: right;
}

pre#logArea {
    overflow-x: auto;
    border: 1px #480a2a dashed;
    padding: 10px;
    padding-left: 20px;
}